.final-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-top: 10%;
    gap: 2.875rem;

    opacity: 0;
    transform: translateY(-50px);
    /* start above */
    animation: fadeInDown 1s ease forwards;
    /* play once */
}

.final-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-top: 10%;
    gap: 2.875rem;
    min-height: 350px;
    overflow: visible;

    opacity: 0;
    transform: translateY(-50px);
    /* start above */
    animation: fadeInDown 1s ease forwards;
    /* play once */
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
        /* back to normal position */
    }
}

.score-number {
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}

.score-text {
    text-align: center;
    height: auto;
    width: 80%;
    margin: auto;
}

.text-box {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.score-light {
    width: 11rem;
}

.score-light {
    width: 140px;
    height: 180px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

@media (max-width: 380px) {
    .score-light {
        width: 8rem;
    }

    .final-score {
        gap: 1.5rem;
    }
}