#root {
  width: 100%;
  height: 100%;
}

.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  align-items: center;
  overflow: hidden;
}

.logo {
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
  height: 120px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #506B33);
}

.headline-container {
  display: flex;
  flex-direction: column;
  
  gap: 2vh;
  width: 80vw;
  align-items: center;
  justify-content: center;
}

.heading-h1 {
  color: #384D22;
  font-size: var(--fs-heading);
  margin: 0px;
}

.subheading-p {
  color: #506B33;
  font-size: var(--fs-subheading);
  margin: 0px;
}

/* .button-placement {
  margin-top: 148px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 13%;
  z-index: 1;
} */

.button-hosen {
  font-size: 20px;
  background-color: #F7941D;
  color: #FFFFFF;
  width: 210px;
  height: 60px;
  border: none;
  box-shadow: 0px 5px 0px #506B33;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  /* position: absolute;
  bottom: 10vh; */
  /* left: 50%;
  transform: translateX(-50%); */
  margin-bottom: 10vh;
}

.button-hosen:active {
  border: none;
  box-shadow: none;
  transform: translateY(5px);
}

.button-hosen:focus {
  outline: none;
}

/* @media (max-width: 380px) {
  .heading-h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .subheading-p {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .heading-h1 {
    font-size: 60px;
  }

  .button-hosen {
    font-size: 22px;
    width: 250px;
    height: 71px;
    padding: 16px 32px;
  }
} */


.upper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4vh;
  padding-top: 8vh;
  padding-bottom: 10vh;
  position: relative;
}

.white-circle {
  width: 110vmax;
  /* Makes it cover width/height proportionally */
  height: 104vmax;
  background: white;
  /* Circle color */
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  /* Places it behind other content */
  overflow: hidden;
  /* Ensures no scrollbars appear */
  pointer-events: none;
}

.deep-green-circle {
  width: 55vmax;
  /* Makes it cover width/height proportionally */
  height: 40vmax;
  background: #506B33;
  /* Circle color */
  border-radius: 50%;
  position: relative;
  top: -20%;
  left: 70%;
  z-index: -2;
  /* Places it behind other content */
  overflow: hidden;
  /* Ensures no scrollbars appear */
  pointer-events: none;
}