.quizz-page {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.quizz-page::before {
  content: "";
  position: fixed;
  width: 110vmax;
  height: 104vmax;
  background: #384d22;
  border-radius: 50%;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: -1;
  pointer-events: none;
}

.quizz-container {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.upper-bar {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: clamp(2rem, 7vh + 1rem, 9rem);
  width: 100%;
}

.actions-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.question-number {
  margin: 0;
}

.progress-and-action-bar {
  display: flex;
  flex-direction: column;
  gap: 1.188rem;
  width: 100%;
}

.question-text {
  font-size: var(--fs-subheading);
  margin: 0px;
  color: white;
  font-weight: bold;
  line-height: 28px;
}

.illustration-car {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(14.234rem, 12vw + 1rem, 31.313rem);
}

@media (min-width: 40em) {
  .quizz-page::before {
    width: 130vmax;
  }
}

@media (min-width: 1200px) {
  .quizz-page::before {
    top: 5%;
  }

  .quizz-container {
    max-width: 2000px;
  }
}

@media (min-width: 1400px) {
  .quizz-page::before {
    top: 0%;
  }
}

@media (min-width: 1600px) {
  .quizz-page::before {
    top: -10%;
  }
}